form{
    background-color:blueviolet;
    margin:  10px;
    width: 90%;
    flex-direction: column;
    display: flex;
    border-radius: 8px;
    flex-wrap: wrap;
}
input{
    height: 40px;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.btnform{
    padding: 10px;
    margin: 10px;
    font-size: large;
    background-color: darkgreen;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: none;
}
button{
    padding: 10px;
    margin: 10px;
    font-size: large;
    background-color:blueviolet;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.tab,th,td{
    border: solid 3px blue;
    border-collapse:collapse;
    width: 30%;
    height: 30px;
    text-align: center;
    margin-left: 35%;
}
.for{
    background-color: coral;
}
.tabb{
    background-color: springgreen;
}
.bob{
    background-color:dodgerblue;
}
img{
    position: absolute;
    width: 50%;
    height: 80%;
    justify-content: center;
    margin-left: 188px;
    border: solid 5px violet;
    border-radius: 10px;
}
h3:hover{
    color:yellow;
    transform: translateX(15px);
    transition-duration: 1s;
    width: 17%;
}
h3{
    border: solid 5px violet;
    width: 18%;
    border-radius: 0px 8px 8px 0px;
    margin-top:50px;
    margin-left:8px;
    padding: 5px;
}